.botao{
    background-color: #6278f7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    cursor: pointer;
    border: none;
    color: #fff;
    margin: 16px 0;
}

.botao:hover{
    background-color: #546dfd;
    color: #95FFD4;
}